:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

@font-face {
  font-family: 'Akshar';
  src: url('../asset/Akshar/static/Akshar-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sancs-pro';
  src: url('../asset/sancs-pro/SourceSansPro-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}


[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  position: relative;
  margin: 0;
  -webkit-text-size-adjust: none;
  min-height: 416px;
  -webkit-touch-callout: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after , *::after {
  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a{
  all: unset;
  color: white;
}

.global_icon_container{
  
}