@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;


.historyContainer{
    @include ux.center(column);
    height:100%;
    width:100%;
    padding-top:8rem;
}

.gridWrapper{
  
    display:grid;
    grid-gap:50px;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    grid-auto-rows:250px;
    grid-auto-flow:dense;
    width:800px;
    
   
    @include bp.lg{
      width:700px;
    }
    @include bp.md{
      width:600px;
    }
    @include bp.sm{
      width:350px;
    }
    @include bp.xs{
      width:250px;
    }
  
  
    
    .gridChild{
      @include ux.center(row);
      align-items:initial;
    }
  
    .thumbContainer{
      @include ux.center(column);
      width:100%;
      height:100%;
    }
  
    .img_wrapper{
      bottom:0;
      position:relative;
      width:100%;
      height:100%;
    }
  
    .bookmarkContainer{
      position:absolute;
      bottom:0;
      right:2px;
    }
    .duration_container{
      position:absolute;
      bottom:0;
      left:2px;
      background:rgba(0,0,0,0.4);
      padding: 0px 5px;
      color:white;
    }
  
    .videoInfoContainer{
      width:100%;
      margin-top:10px;
      & > span{
        font-family:Akshar;
        font-size:20px;
      }
    }
  
  
    .usernameContainer{
      @include ux.center(row);
      justify-content:flex-start;
      font-size:12px;
    }
    
    .view_dateContainer{
      font-size:12px;
    }
  }

  .history_tag{
    border-bottom:1px solid white;
    margin-bottom:1rem;
    width:800px;
    font-size:1.5rem;
    font-family:ashkar;
   
    @include bp.lg{
      width:700px;
    }
    @include bp.md{
      width:600px;
    }
    @include bp.sm{
      width:350px;
    }
    @include bp.xs{
      width:250px;
    }

  }

