@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;
@use "sass:color";


.loginWrapper{
  width:100vw;
  height:100vh;
  @include ux.center(row);
  z-index: 10;
  
}

.form_container {
  display: grid;

  grid-template-columns: 1fr;
  flex-grow: 1;
  padding-bottom: 1rem;

  & > form{
    & > div{
      margin-top:10px;
    }



    &  .button{
      margin-top:10px;
      height: 50px;
      width:100%;
    }
    
  }
  
}


.section_container {
  width:500px;
  max-width: 620px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color:  color.scale($primary-color , $lightness:-82%);
  color:black;
  border-radius:10px;

  input[type="text"],
  input[type="password"],
  button,
  textarea {
  font-family: 'ashkar', sans-serif;
  font-size: 25px;
  padding: 0.45rem;
  border-radius: 0.5rem;
  }
}

.loggedInContainer{
  @include ux.center(column);
  background:transparent;
  height:100vh;
  width:100vw;
}
.back{
  @include ux.center(column);

  a {
    @include ux.center(column);
    font-size:20px;
    font-family:Ashkar;
  }

  span{
    padding:10px;
  }
}







.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}





/*waves****************************/

@media (hover:hover){
  .box {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
  }
  
  .wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #0af;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }
  
  .wave._three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #77daff;
  }
  
  .wave._two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  /*LOADING SPACE*/
  
  .contain {
    animation-delay: 4s;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
  }
  
  .icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
  }
  
  /*Animation*/
  .icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
  .icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
  .icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}
  
  .icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0,0) rotateZ(180deg);
    transform: scale(0,0) rotateZ(180deg);
  }
  
  @-webkit-keyframes anim{
    0% {
      -webkit-transform: scale(0,0) rotateZ(-90deg);
      transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
      -webkit-transform: scale(0,0) rotateZ(90deg);
      transform: scale(0,0) rotateZ(90deg);opacity:0
    }
  }
  
  @keyframes anim{
    0% {
      -webkit-transform: scale(0,0) rotateZ(-90deg);
      transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
      -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
      -webkit-transform: scale(0,0) rotateZ(90deg);
      transform: scale(0,0) rotateZ(90deg);opacity:0
    }
  }
}
