@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;
@use "sass:color";


.loginWrapper{
  width:100vw;
  height:100vh;
  @include ux.center(row);
  
  
}

.form_container {
  display: grid;

  grid-template-columns: 1fr;
  flex-grow: 1;
  padding-bottom: 1rem;

  & > form{
    & > div{
      margin-top:10px;
    }



    &  .button{
      margin-top:10px;
      height: 50px;
      width:100%;
    }
    
  }
  
}


.section_container {
  width:500px;
  max-width: 620px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color:  color.scale($primary-color , $lightness:-82%);
  color:black;
  border-radius:10px;

  input[type="text"],
  input[type="password"],
  button,
  textarea {
  font-family: 'ashkar', sans-serif;
  font-size: 25px;
  padding: 0.45rem;
  border-radius: 0.5rem;
  }
}

.loggedInContainer{
  @include ux.center(column);
  background:transparent;
  height:100vh;
  width:100vw;
}
.back{
  @include ux.center(column);

  a {
    @include ux.center(column);
    font-size:20px;
    font-family:Ashkar;
  }

  span{
    padding:10px;
  }
}







.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
