@use "styles/utilsMixin" as ux;
@use  "styles/breakpoints" as bp;
@use "sass:color";
@use "styles/variables" as *;

.navbarContainer{
    
    position:fixed;
    z-index:1000;
    background:$secondary-color;
    height:80px;
    width:100%;
    @include ux.center(row);
    justify-content:flex-start;
    padding: 0px 20px;
    transition: 0.5s cubic-bezier(0, 0, .58, 1) transform;
    border-bottom-left-radius: 42px;

    @include bp.sm{
        border-bottom-left-radius: 0px;
    }

    @include bp.xs{
        position:relative;
        height:120px;
        border-bottom-left-radius: 0px;
    }


    .navbarWrapper{
        @include bp.xs{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
        }
    }

}

.start{
    @include ux.center(row);
    height:100%;

    @include bp.xs{
        position:absolute;
        justify-self:flex-start;
        align-self: flex-end;
        top:-26px;
        left: 11px;
    }
}



.center, .end{
    height:100%;
    @include ux.center(row);
    padding:10px;
}

.center{
    position:absolute;
    width:500px;
    z-index:20;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding:0;
    display:inline-block;
    color:black;
    margin-top:5px;
        
    & > span {
        color:black;
        
        &  span{
                left:0!important;
        } 

    }

   

    @include bp.sm{
    width:300px;
    }
    @include bp.xs{

        width:94%;

    }

}

.end{

    @include bp.xs{
        position:absolute;
        justify-self:flex-start;
        align-self: flex-end;
        top:-26px;
        right:4px;
    }
}

.navbarWrapper{
   @include ux.center(row);
   align-items:flex-start;
   justify-content:space-between;
   width:100%;
   overflow:hidden;

}
.nav_menu{
    background:rgba(0,0,0,0.2);
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    z-index:100;

    @include bp.xs{
        align-self: flex-start;
        height:100vh;
    }

    & ul{
      background:color.scale($secondary-color, $lightness: -21%); 
      width:20%;
      height:100%;
      overflow:hidden;
      position:relative;

      li{
          color:white;
          width:100%;
          height:80px;
          border-bottom: 0.5px solid color.scale($secondary-color, $lightness: -35%); 
          a {
              @include ux.center(row);
              justify-content:flex-start;
              color:white;
              width:100%;
              height:100%;
              padding-left:10px;
              & span:first-child{
                margin-right:10px;
            }
            &:hover{
                background:color.scale($secondary-color, $lightness: -35%); 
            }

          }
      }
    }
}

.nav_menu_closed{
    @include ux.center(row);
    height:100%;
    
    & span:first-child{
        margin-right:10px;

    }


}

.start_nav_opened{
    @include ux.center(row);
    justify-content:flex-start;
    padding-left:10px;
    
    & span:first-child{
        margin-right:10px;
    }
}

.logout{
    @include ux.center(row);
    border-bottom:none;
    position:absolute;
    bottom:0;
    align-items:flex-end
    
}

.avatarContainer{
    @include ux.center(column);
    position:relative;
    border-radius:50%;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.avatar{
    z-index:1;
    pointer-events:none;
}
.avatar_impluse{
    border: 0.5px solid blue;
    position:absolute;
    border-radius:50%;
    
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    z-index:2;
    cursor:pointer;
    /* pointer-events:none; */

    
}

.popup{
    @include ux.center(column);
    & div {
        @include ux.center(column);

    }
}
.progressBar{
    width:100%;
  }
  

.uploadAvatar{
    width: 100px;
    height: 100px;
    
    @include ux.center(column);
    
    & > section{
    border-radius: 50%;

    }
}


.popup_title{
    @include ux.center(row);
    justify-content:space-between;
}

.search_items{
    background:white;
  
   
      
      & > span{
          display:block; 
          height:45px;
          font-family:"Sancs-pro";
          letter-spacing: 1px;
          &:hover{
              background-color: color.scale($primary-color, $lightness: 80%);
          }
          
          a{
              display:flex;
              align-items:center;
              color:black;
              height:100%;
              width:100%;
              & > span{
                  width:100%;
                  display:flex;
                  align-items:center;
                  padding-left:13px;
              }
          }
      }    
}


.scrolled_nav{
    transform:translateY(-100px);
    transition: 0.5s  cubic-bezier(0.86, -0.06, 1, 1) transform;
}

.burger_clicked{
    opacity:0;
}

.clearIcon{
    @include ux.center(column);
    position:absolute;
    right:3.5em;
    top:0.6em;
    z-index:1000;
}
.clearIcon_hidden{
    display:none;
}