@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;
@use "sass:color";

/* resgister */
.section_container {
  width: 100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.4);
  @include ux.center(row);

@include bp.md{
  padding-top:20px;
}

@include bp.sm{
  padding-top:20px;
}

@include bp.xs{
padding-top:20px;
}
  
  input[type="text"],
  input[type="password"],
  button,
  textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  }

  button {
  padding: 0.5rem;
  }
}

.form{
  
  padding-left: 10em;


  @include bp.lg{
    padding-left: 6.5em;
  }
  
  @include bp.md{
    
    padding-left: 6em;
  }

  @include bp.sm{
    padding-left: 2.6em;

  }

  @include bp.xs{
    padding-left: 2.6em;
     
  }

}
.registerContainer{
  height:50em;
  width:600px;
  background-color:  color.scale($primary-color , $lightness:-82%);
  padding:1rem;


  @include bp.lg{
    width:500px;
  }

  @include bp.md{
    width:500px;
  }

  @include bp.sm{
    width:400px;
  }

  @include bp.xs{
    width:400px;    
  }

}
.form_container {
  @include ux.center(column);
  align-items:flex-start;
  flex-grow: 1;
  padding-bottom: 1rem;
  font-size:1.3rem;
}




.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: 0;
  right:0;

}

.instructions > svg {
  margin-right: 0.25rem;
}


.button{
  margin-top:10px;
  height: 50px;
  width:70%;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
  @include ux.center(row);
}

.invalid {
  color: red;
  margin-left: 0.25rem;
  @include ux.center(row);

}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}


.successContainer{
  @include ux.center(column);
  height:100vh;
}


/*waves****************************/

@media (hover:hover){
  .box {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    z-index: -1;
  }
  
  .wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #0af;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }
  
  .wave._three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #77daff;
  }
  
  .wave._two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  /*LOADING SPACE*/
  
  .contain {
    animation-delay: 4s;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
  }
  
  .icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
  }
  
  /*Animation*/
  .icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
  .icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
  .icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}
  
  .icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0,0) rotateZ(180deg);
    transform: scale(0,0) rotateZ(180deg);
  }
  
  @-webkit-keyframes anim{
    0% {
      -webkit-transform: scale(0,0) rotateZ(-90deg);
      transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
      -webkit-transform: scale(0,0) rotateZ(90deg);
      transform: scale(0,0) rotateZ(90deg);opacity:0
    }
  }
  
  @keyframes anim{
    0% {
      -webkit-transform: scale(0,0) rotateZ(-90deg);
      transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
      -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
      -webkit-transform: scale(1,1) rotateZ(0deg);
      transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
      -webkit-transform: scale(0,0) rotateZ(90deg);
      transform: scale(0,0) rotateZ(90deg);opacity:0
    }
  }
}
