@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;
@use "sass:color";

/* resgister */
.section_container {
  width: 100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.4);
  @include ux.center(row);

@include bp.md{
  padding-top:0px;
}

@include bp.sm{
  padding-top:0px;
}

@include bp.xs{
padding-top:0px;
}
  
  input[type="text"],
  input[type="password"],
  button,
  textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  }

  button {
  padding: 0.5rem;
  }
}

.form{
  
  padding-left: 10em;


  @include bp.lg{
    padding-left: 6.5em;
  }
  
  @include bp.md{
    
    padding-left: 6em;
  }

  @include bp.sm{
    padding-left: 2.6em;

  }

  @include bp.xs{
    padding-left: 2.6em;
     
  }

}
.registerContainer{
  height:50em;
  width:600px;
  background-color:  color.scale($primary-color , $lightness:-82%);
  padding:1rem;


  @include bp.lg{
    width:500px;
  }

  @include bp.md{
    width:500px;
  }

  @include bp.sm{
    width:400px;
  }

  @include bp.xs{
    width:400px;    
  }

}
.form_container {
  @include ux.center(column);
  align-items:flex-start;
  flex-grow: 1;
  padding-bottom: 1rem;
  font-size:1.3rem;
}




.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: 0;
  right:0;

}

.instructions > svg {
  margin-right: 0.25rem;
}


.button{
  margin-top:10px;
  height: 50px;
  width:70%;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
  @include ux.center(row);
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
