@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;



.user_container{
   
   @include ux.center(column);
   width: 100vw;
   padding-top:150px;

   @include bp.xs{
    padding-top:50px;


  }
   
}


.user_wrapper{
   width:100%;
   height:100vh;
   background:rgba(0,0,0,0.5);
   
   display:grid;
   grid-template-columns: 1fr 1.5fr;
   
   @include bp.lg{
  }
  @include bp.md{
    grid-template-columns: 2fr;
  }
  @include bp.sm{
    grid-template-columns: 2fr; 
  }
  @include bp.xs{
    grid-template-columns: 2fr;  
  }
}

.profile{
   @include ux.center(column);
   justify-content:flex-start;
   padding-top:10px;
   
   @include bp.lg{
    width:400px;
  }
  @include bp.md{
    padding-left:35px;
  }
  @include bp.sm{
    padding-left:30px;
  }
  @include bp.xs{
    padding-left:10px;
  }


  
}

.avatar_container{
    position:relative;
    margin-right:20px;
    
  & > span{
   z-index:2;
   width:200px;
   height:200px;

   @include bp.lg{
    width:150px;
    height:150px;
  }
  @include bp.md{
    width:100px;
    height:100px;
  }
  @include bp.sm{
    width:100px;
    height:100px;
  }
  @include bp.xs{
    width:80px;
    height:80px;
    margin-right:0px;
  }

  }

  & > .avatar_layer{
    background:rgba(0,0,0,0.1);
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:50%;
    z-index:3;
   }

   & > .avatar_layer_hover{
      background:rgba(0,0,0,0.3);
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:50%;
    z-index:3;

   }
 


   & > .avatar_ring{  
    content:"";
    position:absolute;
    height:105%;
    width:105%;
    top:0;
    left:50%;
    right:0;
    bottom:0;
    margin: auto auto;
    transform: translate(-50%, 0);

    border-radius:50%;
    background: $primary-color;
    z-index:1;   
    
    &::after{
      background:$secondary-color;
      content:"";
      position:absolute;
      height:96.5%;
      width:96.5%;
      top:0;
      left:50%;
      right:0;
      bottom:0;
      margin: auto auto;
      transform: translate(-50%, 0);
      border-radius:50%;
    }
   }

   & > .avatar_uploader{
      position:absolute;
      height:20%;
      width:40%;
      z-index:5;
      margin: 0 auto;
      border-radius:50%;
      color:white;
      text-align:center;
      left:0;
      right:0;
      bottom:0;
      @include ux.center(row);
      justify-content:space-around;
      pointer-events:none;
   }
}

.upload{
   opacity: 0;
   position: absolute;
   z-index: -1;
   width:100%;
   height:100%;

}

.info{
   margin-top:50px;
   display:grid;
   width:80%;

   & > span{
      margin-bottom:10px;
   }

   @include bp.md{
     width:40%;
  }
  @include bp.sm{
    width:35%;

  }
  @include bp.xs{
    width:75%;

  }
}

.videos{
   background:brown;
}

.login{
   @include ux.center(column);
   font-size:20px;
   width:100%;
   height:60vh;
   
   & > a{
      @include ux.center(row);
      margin-top:10px;
      &  > span{
         margin-right:10px;
         font-size:20px;
         @include ux.center(column);

      }
   }
}


.gridWrapper{
  
   display:grid;
   grid-gap:50px;
   grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
   grid-auto-rows:250px;
   grid-auto-flow:dense;
   width:700px;
   
  
   @include bp.lg{
     width:600px;
   }
   @include bp.md{
     width:400px;
     margin: 0 auto;
   }
   @include bp.sm{
     width:350px;
     margin: 0 auto;
   }
   @include bp.xs{
     width:250px;
     margin: 0 auto;
   }
 
 
   
   .gridChild{
     @include ux.center(row);
     align-items:initial;
   }
 
   .thumbContainer{
     @include ux.center(column);
     width:100%;
     height:100%;
   }
 
   .img_wrapper{
     bottom:0;
     position:relative;
     width:100%;
     height:100%;
   }
 
   .bookmarkContainer{
     position:absolute;
     bottom:0;
     right:2px;
   }
   .duration_container{
     position:absolute;
     bottom:0;
     left:2px;
     background:rgba(0,0,0,0.4);
     padding: 0px 5px;
     color:white;
   }
 
   .videoInfoContainer{
     width:100%;
     margin-top:10px;
     & > span{
       font-family:Akshar;
       font-size:20px;
     }
   }
 
 
   .usernameContainer{
     @include ux.center(row);
     justify-content:flex-start;
     font-size:12px;
   }
   
   .view_dateContainer{
     font-size:12px;
   }
 }


