@use  "styles/breakpoints" as bp;
@use "styles/utilsMixin" as ux;
@use "styles/variables" as *;
@use "sass:color";


.video_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
    height: 100%;
    @include ux.moveY();
}

.innerVideoWrapper{

}


.videoplayer_wrapper{
    width:100%;
    height:100%;
    
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 0px; 
    
   /*  @include bp.xxl{
        grid-template-columns: 1.5fr 1fr;
    } */
    @include bp.md{
        grid-template-columns: repeat(2, 1fr);
       grid-column-gap: 0px;
       grid-row-gap: 0px; 

    }
    @include bp.sm{
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
    }
    @include bp.xs{
        grid-template-columns: 1fr;
         grid-column-gap: 0px;
    }
}

.videoplayer__theater_wrapper{
    width:100%;
    height:100%;
    padding-top:20px;
    
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px; 
    
}


.standard_wrapper{
    height:auto; 
    grid-area: 1 / 1 / 2 / 2;

    @include bp.md{
        grid-area: 1 / 1 / 2 / 3;
    }
    @include bp.sm{
        grid-area: 1 / 1 / 2 / 3;
    }
    @include bp.xs{
        grid-area: 1 / 1 / 2 / 3;
    }
}
.standard_wrapper_theater_mode{
    grid-area: 1 / 1 / 2 / 3; 
}


.other_videos_container{
    padding-top:42px;
    grid-area: 1 / 2 / 3 / 3; 
    @include bp.md{
        grid-area: 3 / 1 / 4 / 3; 
    }

    @include bp.sm{
        grid-area: 3 / 1 / 4 / 3; 
    }

    @include bp.xs{
        grid-area: 3 / 1 / 4 / 3; 
    }
    

}   
.other_videos_container_theater_mode{
    grid-area: 2 / 2 / 3 / 3;
}





.wrapper{
   
   width:100%;
   height:100%;
}

.thumbContainer{
    position:relative;
    width:fit-content;
    height:fit-content;
    position:relative;
    @include ux.center(row);
    align-items:flex-start;
    margin-bottom:1em;
    margin-left:2em;
}

.img_wrapper{
    position:relative;

    width: 20em;
    height:15em;

    @include bp.lg{
        width: 15em;
        height:10em;
    }

    @include bp.md{
        width: 15em;
        height:10em;
    }

    @include bp.sm{
        width: 15em;
        height:10em;
    }

    @include bp.xs{
        width: 10em;
        height:10em;
    }
    
}


.otherVideoContainer{
    position:relative;
    margin-bottom:10px;
    display:flex;
    justify-content:flex-start;
    font-family: Akshar, sans-serif;

    &::after{
        content:"";
        position:absolute;
        background:transparent;
        height:100%;
        width:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    &:hover::after{
        background:rgba(0,0,0,0.2);
    }
    
}

.wrapper{
    overflow:scroll;
    height:100vh;
}
.duration_container{
    position:absolute;
    background:rgba(0,0,0,0.7);
    z-index:10;
    bottom:8px;
    right:5px;
    padding: 0px 5px;
    font-size:12px;
    border-radius:2px;
    font-weight: 400;
    letter-spacing:1px;
    text-align:center;
    color:white;
}

.bookmarkContainer{
    position:absolute;
    bottom: 3px;
    left: 0px;
    z-index:10;
    padding:2px;
    @include ux.center(row);

    
}

.videoInfoContainer{
    flex:1;
    @include ux.center(column);
    align-items:flex-start;
    justify-content:flex-start;
    padding-left:10px;
    color:white;
    letter-spacing:1.2px;
    text-transform:capitalize;
}

.usernameContainer{
    @include ux.center(row);
    
    span {
        margin-right:2px;
    }
}

.view_dateContainer{
    @include ux.center(row);

    & span:first-child{
      margin-right:2px;
    }
}


.video_info{
    grid-area: 2 / 1 / 2 / 2;
    width:97%;
    height:100%;
    padding:0 25px;
    overflow-x:clip;
    position:relative;

    @include bp.md{
        grid-area: 2 / 1 / 3 / 3; 
    }
    @include bp.sm{
        grid-area: 2 / 1 / 3 / 3; 
    }
    @include bp.xs{
        grid-area: 2 / 1 / 3 / 3; 
    }
    
    

    .upper_info{

        & > span{
            font-size: clamp(1.4rem, 20%, 40%);
            font-family:"Ashkar";
            border-bottom: 0.1px groove color.scale($primary-color , $lightness:-52%);
            overflow-wrap: break-word;
            padding-bottom:2px;

            
        }
    }

    .like_wrapper{       
        @include ux.center(row);
        align-items:flex-start;
        border-top: 0.1px solid color.scale($primary-color , $lightness:-52%);

        padding-top:20px;
        position:relative;
        &  span{
            @include ux.center(column);
            margin: 0 1rem;
            cursor:pointer;
            width:50px;
            height:100%;
        }

        & > div:nth-child(1){
            font-size: clamp(0.75rem, 10%, 50%);
            font-weight:bold;
            height:100%;
            position:absolute;
            top:-1.6em;

            left:0;
        }
        & > div:nth-child(2){
            flex:1;
            @include ux.center(row);
            justify-content:center;
            
        }
        @include bp.xs{
        border-top: 0.1px solid color.scale($primary-color , $lightness:-52%);  

        }
    }

    .description{
        font-size:0.9rem;
        margin-bottom:1.5rem;
        width:80%;
        height:auto;
        
        & > p{
            white-space: initial;
            width:100%;
            display:block;
            overflow-wrap: break-word;
        }
    }

    .avatar_container{
        @include ux.center(row);
        padding-bottom:2rem;
        border-bottom:0.1px groove color.scale($primary-color , $lightness:-52%);
        justify-content:flex-start;
        & > div{
            @include ux.center(row);
            justify-content:space-evenly;
            margin-left:10px;
            width:min(140px, 160px);
            text-transform:capitalize;
            & > div{
                font-size:1.1rem;
            }
        }


 
        @include bp.xs{
            padding-top:25px;
            border-top: 0.1px solid color.scale($primary-color , $lightness:-52%);

        }
    }
}

.shareContent{
    color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    width: 400px;
    padding:1rem;
    gap:1rem;

    & > div{
        @include ux.center(column);
        cursor:pointer;
    }

    @include bp.xs{
        width: 300px;
    }
}

.shareButton{
    @include ux.center(column);
}

.center{
    @include ux.center(row);
}

.playlistContainer{
    overflow-y:auto;

    
}

.newPlaylist{
    @include ux.center(row);
    justify-content:flex-start;
    margin-top:2rem;
    
}

.playlistItem{
    @include ux.center(row);
    justify-content:flex-start;
    font-size:1.1rem;
    overflow-y:auto;
    margin-bottom:10px;

    & > input{
        margin-right:1rem;
        width:1rem;
        height:1rem;

    }

    & > div{
        @include ux.center(row);
        margin-left:auto;
        cursor:pointer;
    }
}


.commentActions{
    @include ux.center(row);
    justify-content:space-evenly;
    width:6rem;

}

.commentContainer{

    @include bp.md{
        display:none;
    }

    @include bp.sm{
        display:none;
    }

    @include bp.xs{
        display:none;
    }
}
.listComment{
    position:relative;   
    
}

.commentEditContainer{
  position:absolute;
  content:"";
  top:10px;
  right:1rem;
  height:50%;
  width:4em;
  @include ux.center(row);   
  justify-content:space-between;
}


.editCommentContainer{
    width:50%;
    position:sticky;
    bottom:20rem;
    & * {
        width:100%;
        margin-bottom:1.4rem;
    }
}

.popup{
    width:50rem;
}


.open{
    opacity:1;
    display:block;
}

.editContainer{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    @include ux.center(row);
    align-items:flex-end;
    z-index:10000;
}