@use "styles/utilsMixin" as ux;
@use  "styles/breakpoints" as bp;


.video_container_wrapper{
    position: relative;
    background-color: transparent;
    width: 100%;
    height:100%;
    overflow:hidden;

}

.video_container{
    width:100%;
    height: auto;
    background:black;
    position: relative;
    video{
        width:100%;
        height:600px;
        z-index:1;
        @include bp.md{
           height:600px;
        }
        @include bp.sm{
            height:500px;
        }
        @include bp.xs{
            height:350px;
        }
    }
    & > div[data-fullscreen="true"]{
           video{
               height:inherit; 
           }
    }
    video::-webkit-media-controls { display:none !important; }
    video::-webkit-media-controls-enclosure {
        display:none !important;
      }
      

    .video_controller{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        background: linear-gradient(180deg, rgba(0,0,0,0.2063958347010679) 0%, rgba(248,251,255,0) 94%);
        z-index: 2;
    }
    
}


.video_controller_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    position: relative;
    height:90%;
    width:98%;

    @include bp.sm{
        height:80%;
    }
    @include bp.xs{
        height:100%;
    }
}
.video_controller_wrapper_theater_mode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    position: relative;
    height:100%;
    width:98%;
}


.video_bottom_controll{
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
    align-self: flex-end;

    /* background: rgb(250,255,253);
    background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.5915499989058124) 100%); */
}

.video_bottom_controll_fullscreen{
    position: absolute;
    bottom: 0;
    height: 8%;
    width: 100%;
    align-self: flex-end;
}

.video_bottom_controll_player{
    position:absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    padding-bottom:15px;

   
    
    @include bp.xl{
        padding-bottom:0px;
    }

    @include bp.md{
        font-size: 25px;
        padding-bottom:0px;
    }
    @include bp.sm{
        font-size: 25px;
        padding-bottom:0px;
    }
    @include bp.xs{
        font-size: 25px;
        padding-bottom:0px;
    }

    

}

.bottom__left{
    @include ux.center(row);
}

.volume_container{
    width: 100%;
    @include ux.center(row);
    margin-left:2em;
    


    @include bp.xs{
        margin-left:0.2em;
    }
    @include bp.xl{
        margin-left:0.2em;
    }
    @include bp.md{
        margin-left:0.2em;
    }
    @include bp.sm{
        margin-left:0.2em;
    }
}

.video_bottom_right_container{
    position: absolute;
    right: 5px;
    @include ux.center(row);
    justify-content:flex-end;
    width: 200px;

    @include bp.xl{
        width: 100px;
    }
    @include bp.md{
        width: 100px;
    }
    @include bp.sm{
        width: 100px;
    }
    @include bp.xs{
        width: 50px;
    }

}



.fadeIn{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: black;
    z-index: 1000;
}


.fadeOut{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
    z-index: 1000;
}


.fullScreen{
    height: 100vh;
    width: 100vw;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black
}


.video_full_btn_container
{
    cursor:pointer;
    @include ux.center(row);

}

.video_theater_container{
    cursor:pointer;
    @include ux.center(row);
    margin-right:20%;
    position:relative;
    @include bp.xs{
        margin-right:10%;
        font-size: 25px;
    }



}

.time{
    @include ux.center(row);
    position:absolute;
    right:10px;
    top: -22px;
    font-size: 16px;
    .currentTime_container{
        margin-right:5px;
    }
    .duration_container{
        margin-left:5px;
    }
}

.top_layer{
    width:100%;
    height:35%;
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
    @include ux.center(row);
    justify-content:space-between;
     
    .leftside{
        width:400px;
        height:0;
        position:absolute;
        top:10px;
        left:0;
        pointer-events:all;
        text-align:center;
        @include ux.center(row);
        justify-content:flex-start;
        align-items:flex-start;
        font-size:18px;
        padding-left:10px;
        text-transform: capitalize;
        padding-top:20px;
        
        
        @include bp.md{
            padding-top:0px;
        }
        
        @include bp.sm{
            padding-top:0px;
        }
        
        @include bp.xl{
            padding-top:0px;
        }
    }

    .rightside{
        position:absolute;
        top:10px;
        right:0;
        pointer-events:all;
        @include ux.center(row);
        justify-content:flex-end;
        align-items:flex-start;
        pointer-events:pointer;
        opacity:0.5;
        padding-top:20px;
        @include bp.md{
            padding-top:0px;
        }
        
        @include bp.sm{
            padding-top:0px;
        }
        
        @include bp.xl{
            padding-top:0px;
        }

        & a {
            @include ux.center(column);
            color:white;
        }
        
    }
    .toplayer_theater_mode{
        top:-10px;
    }
}

.noPadding{
    padding:0;
}


.nextVideoIcon{
    background:white;
    border-radius:50%;
    margin-top:5px;
    cursor:pointer;

    @include bp.xs{
        font-size: 25px;
    }


}

.onStyle{display:none;}

.thumbBackground{
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index:2;
}

.thumbPlayButton{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background:rgba(0,0,256, 0.4);
    @include ux.center(row);
    border-radius:10px;
    width:150px;
    padding-left:5px;
    cursor:pointer;
    pointer-events:all;

}

.thumbPlayBt_Wrapper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    
    height:100%;
    width:100%;
    @include ux.center(row);
}

.downloadOps{
    position:absolute;
    top:-220px;
    left:-85px;
    width:200px;
    height:150px;
    z-index:10;
    cursor: default;
    & .pointer{
        background:black;
        height:100px;
        width:100px;
        transform:rotate(45deg);
        position:absolute;
        bottom:0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index:8;
    }
}

.downloadList_container{
    font-size:20px;
    width:100%;
    height:100%;
    background:black;
    z-index:9;
    position:relative;
    overflow:auto;
    @include ux.center(row);
    & ul li{
        list-style:none;
        border-top:1px solid #ccc;
        padding:10px 20px;
    }
    & ul li:hover{
       color:blue;
    }
}


.download_icon_container{
    @include ux.center(row);

}


.progressBar{
    width:100%;
    bottom:0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
    
}
.center{
    @include ux.center(column);
    margin-right:10px;
    
}
.noOpacity{
    opacity:0;
}
.volume_icon{
    @include ux.center(column);
    cursor:pointer;
}
.notLogin_container{
    @include ux.center(column);
    padding:10px;
    font-size: 18px;
    &  a{
        margin-bottom:10px;
        font-size: 25px;
    }
    &  a:hover{
        color:green;
    }
}


.clicked{
    color:green;
}
.event_lister{
    @include ux.center(row);
}